.git/
dist/
build/
node_modules/
client/dist/
client/build/
client/.git/
client/node_modules/
/dist
/build
*/dist
*/build
/release
/releases
*/release
*/releases
/tools-app-win32-x64
*/tools-app-win32-x64
*.note.local.*